.loadButton{
display: block;
margin: auto;
width: 183px;
height: 63px;
  background: #F4C550;
  border: none;
  color: #111;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}


