.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;
}

.input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;

}
.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  position: relative;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 14px;
}
.switch {
  margin-top: 1rem;
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.button {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffb300;
}

.toggleAuth {
  margin-top: 12px;
  font-size: 14px;
  color: #444;
  text-align: center;
}

.toggleAuth button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}
