.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}


.logo {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav {
  display: flex;
  gap: 32px;
  margin-left: 40px;
}

.navLink {
  font-size: 16px;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.navLink:hover {
  color: #00796b;
}

.active {
  border-bottom: 2px solid #00796b;
  color: #00796b;
}

.authButtons {
  margin-left: auto;
  display: flex;
  gap: 14px;
  align-items: center;
}

.loginBtn {
  background: none;
  border: none;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.loginBtn:hover {
  color: #00796b;
}

.registerBtn {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.registerBtn:hover {
  background-color: #005f53;
}