
.header {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 ;
 
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
   align-items: center;
   display: flex;
}

.active {
  color: #f4c12f;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 12px;
   padding-top:0;

  
}



.loginBtn {
  background: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: black;
  padding-top:0;
  padding-bottom: 0px;
 margin-bottom: auto;
  margin-top: auto;
  width: auto;
}

.registerBtn {
  background: #000;
  color: #fff;
  padding-top:0;
  padding-bottom: 0px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: auto;
  margin-top: auto;
}