

 .card {
  display: flex;
  gap: 28px;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
  width: 100%;
}

.avatarSection {
  min-width: 120px;
}

.avatar {
  width: 96px;
  height:96px;
  border-radius: 50px;
  object-fit: cover;
}

.infoSection {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #6c6c6c;
}

.languages {
 margin-left:0px;
 margin-right:200px ;
 
}

.spanPrice {
  font-weight: bold;
}

.favButton {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 14px 0 10px;
}

.levelTag {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 14px;
  background-color: #e8e8e8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeLevel {
  background-color: #9e5df5;
  color: #fff;
}


.moreBtn {
 margin-top: 10px;
  background: none;
  color: #9e5df5;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  transition: opacity 0.2s ease;
  padding: 0;
  align-self: flex-start;
}

.moreBtn:hover {
  opacity: 0.7;
}


.expandedArea {

  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trialLessonButton{
text-align: left;
 
}


.bookBtn {
  background: #f0c04a;
  border: none;
  color: #111;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.bookButton:hover {
  background-color: #7e48d0;
}
 


