

 .card {
  display: flex;
  gap: 28px;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
  width: 100%;
}

.avatarSection {
  min-width: 120px;
}

.avatar {
  width: 96px;
  height:96px;
  border-radius: 50px;
  object-fit: cover;
}

.infoSection {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
white-space: nowrap;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 14px;
 
}

.languages {
 margin-left:0px;
 margin-right:280px ;
  color: #6c6c6c;
 
}

.spanPrice {
  font-weight: bold;
  color:#38CD3E ;
}

.favButton {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  cursor: pointer;
padding: auto;
  width:50px;

}

.heartIcon {
  width: 26px;
  height: 26px;
  
  transition: color 0.2s ease;

}
.favButton:hover .favIcon,
.favButton:focus .favIcon {
  content: url("../../assets/favIcon.svg");
}


.active .favIcon {
  content: url("../../assets/favIcon.svg");
}


.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 14px 0 10px;
  
}

.levelTag {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 14px;
    border: 1px solid #12141733;

  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeLevel {
  background: #F4C550 ;
  color: #111;
}


.readMoreLink {
  color: #111;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto; 
  display: inline-block;
}

.readMoreLink:hover {
  text-decoration: none;
}



.expandedArea {

  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trialLessonButton{
text-align: left;
 
}


.bookBtn {
  background: #F4C550;
  border: none;
  color: #111;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.bookButton:hover {
  background-color: #7e48d0;
}
 


