.container {
  padding: 40px 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.contentWrapper {
  max-width: 1184px;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.left {
  flex: 1;
  width: 720px;
  background-color: #f8f8f8f8;
}

.spanLanguage{
  font-style: italic;
 font-weight: 400;
}


.right {
  flex: 1;
  text-align: center;
}

.right img {
  max-width: 100%;
  border-radius: 12px;
  line-height: 56px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

.highlight {
  padding: 0 5px;
  border-radius: 4px;
}

p {
  margin-top: 16px;
  font-size: 16px;
  color: #333;
}

button {
  margin-top: 24px;
  padding: 16px 8px;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  width: 267px;
  height: 60px;
}


.statsWrapper {
  max-width: 1312px;

  margin: 0 auto;
  padding: 0 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  border: 1px dashed #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

.statItem {
  display: flex;
  align-items: center;
}

.statItem h2 {
  font-size: 28px;
  font-weight: bold;
  margin-right: 16px;
}

.statItem p {
  color: #777;
  font-size: 14px;
  white-space: nowrap;
}